# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.direnv

# dependencies
**/node_modules
/node_modules

# next.js
/.next/
/out/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# local env files
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts

# AWS SAM
**/.aws-sam
