body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #4CAF50;
    padding: 1em 0;
    text-align: center;
}

.logo-container {
    display: inline-block;
}

.logo {
    width: 250px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

main {
    padding: 20px;
    text-align: center;
}

#video-section {
    margin-bottom: 40px;
}

#links-section {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.link-item {
    text-align: center;
}

.logo-link {
    width: 160px;
    margin-top: 10px;
}

#manifesto-section {
    text-align: left;
    margin: 0 auto;
    max-width: 800px;
}

#manifesto-section h1, 
#manifesto-section h2, 
#manifesto-section h3, 
#manifesto-section h4 {
    color: #4CAF50;
}

iframe {
  aspect-ratio: 16 / 9;
  width: 50% !important;
}