@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-end-rgb: 231, 241, 237;
  --background-start-rgb: 255, 255, 255;
}

html, body {
  min-height: 100%;
  margin: 0;
  padding: 0;

  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)) 0px,
      rgb(var(--background-start-rgb)) 600px,
      rgb(var(--background-end-rgb)) 1000px
    );
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

p + p {
  @apply mt-4;
}

a {
  @apply underline;
}
